@model ErrorTrackingSystem.Models.Entity.ErrorTypes
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Hata Tipi: </label>
        @Html.TextBoxFor(x=>x.ErrorTypeName,new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.ErrorTypeName,"",new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Hata Tipi Ekle</button>
    </div>
</form>

