@model ErrorTrackingSystem.Models.Entity.ErrorInformation

@{
    ViewBag.Title = "GetErrorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered ">
    <tr>
        <th>Hata Detayı</th>
        <th>Hata Çözümü</th>
        <th>Hata Görseli</th>

    </tr>
    <tbody>
        <tr>
            <td>@Model.ErrorDetails</td>
            <td>@Model.ErrorSolution</td>
            <td><a href="/Image/@Model.Image" rel="lightbox"><image src="~/Image/@Model.Image" widht="80" height="80"></a></td>                                
        </tr>
    </tbody>
</table>

