
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container" >
        <br />
        <h2 class="text-center">KAYIT OL</h2>
        <div class="tox-form-group col-md-5 container " style="background-color: gainsboro; align-items: center;" >
            <form method="post">
                <label>Ad</label>
                <input type="text" name="Name" class="form-control" required maxlength="30" placeholder="Adınızı giriniz..."/>
               

                <label>Soyad</label>
                <input type="text" name="Surname" class="form-control" required maxlength="30" placeholder="Soyadınızı girinz..."/>
               

                <label>Email</label>
                <input type="email" name="Email" class="form-control" required maxlength="50" placeholder="Email bilginizi giriniz.."/>
                

                <label>Şifre</label>
                <input type="password" name="Password" class="form-control" required maxlength="16" placeholder="Şifrenizi giriniz.."/>
            

                <label>Şifre Tekrarı</label>
                <input type="password" name="RepeatPassword" class="form-control" required maxlength="16" placeholder="Şifrenizi tekrarlayınız.."/>
                <br />
                <button class="btn btn-dark w-100" >ONAYLA</button>



            </form>
             <br />
             <div class="col-md-offset-2 col-md-auto">
                 <label>@ViewBag.Message</label>
             </div>
        </div>
    </div>
</body>
</html>

